.secondcol {
    color: #FFE81F;
    margin-top: 50px;
    margin-left: 10px;
   
}
/* #combo-box-demo{
    background-color: dark ;
    color: yellowgreen;
    border-color: yellowgreen;
    text-decoration-color: yellowgreen;
    
    
    

    
} */
 .combo{
    
    color: #FFE81F;
    
    
    
    
} 
.divition {
    margin-top: 10px;
}
.cla {
color: green;


}